@font-face {
    font-family: "didot";
    src: url(didot_regular.ttf) format("truetype");
}

body, html {
	height: 100%;
	margin: 0px;
}

.bg {

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.bg-main { 
    /* The image used */
    background-image: url("img/backdrop.jpg");
}

.bg-workers { 
    /* The image used */
    background-image: url("img/workers.jpg");
}

.bg-products { 
    /* The image used */
    background-image: url("img/swatches.jpg");
    background-position: left;
}

.viewport {
	min-height: 100vh;
	overflow: auto;
}

.container-fluid {
	padding: 0px;
}

h1, h2 {
	font-family: didot;
	color: rgb(59, 100, 46);
}

h1 {
	text-align: center;
	width:100%;
  	font-size: 3.7vw;
}

h2 {
	font-size: 1.4em;
}

p, span, ul, li {
	font-family: didot;
	color: rgb(59, 100, 46);
	text-align: justify;
}

p, span {
	font-size: 1.2em;
}
ul {
	font-size: 1.4em;
}

a {
	transition: all 0.1s ease;
	font-family: didot;
	color: rgba(59, 100, 46, 0.8);
	text-align: justify;
	font-size: 1.2em;
}

a:hover {
	color: rgba(59, 100, 46, 1.0);
}

span:after {
  content: "";
  display: inline-block;
  width: 100%;
}

hr {
	height: 0px;
	border: none;
	border-bottom: 1px solid rgb(59, 100, 46);
}

.spacer {
	height: 30px;
	clear: both;
}

.centered {
	text-align: center;
}

.infobox {
	min-height: 100%;
	width: 35%;
	background: rgba(255, 255, 255, 0.95);
	position: relative;
}
.infobox-right {
	float: right;
}
.infobox-left {
	float: left;
}

.block-sep {
	height: 10px;
	background-color: rgba(255, 255, 255, 0.95);
}

.navi {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
.price-container {

}
.price-container-left {
	width: 50%;
}
.price-container-right {
	float: right;
	position: relative;
	width: 50%;
	height: 100%;
}

